@using sample_ecommerce_website.Models;
@model Product

@{
    ViewData["Title"] = "Product Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">

                <h4>@Model.Name</h4>



                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dd>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <img src="@Html.DisplayFor(model => model.Images.ElementAt(0).ImageURL)" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
@*                <a href=@Url.Action(action: "ProductView", controller:"Product", values:new { itemId = product.ProductId })><h5 class="card-title">@product.Name</h5></a>
*@
                <a href=@Url.Action(action:"AddToCart", controller:"ShoppingCart", values:new { itemId= Model.ProductId }) class="btn btn-default" title="Details"> <i class="fas fa-shopping-cart"></i>Add to Cart</a>
                @*                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
            </div>
        </div>

    </div>
</section>